* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }


body{
    /* background-color: black; */
    color: #99536B;
}


header{
    padding-top: 10px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    padding: 15px;
    gap: 20px;
}

section.players {
    
    gap: 20%;
}

button {
    border: none;
    background-color: transparent;
}




#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}